@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #cccccc;
}
.navbar h1 {
  color: #f1356d;
}
.navbar .links {
  display: flex;
  width: 70%;
  justify-content: flex-end;
  margin-left: auto;
}
.navbar a {
  text-decoration: none;
  padding: 6px 0px;
}
.navbar a:nth-child(1) {
  margin-right: 30px;
}
.navbar a:nth-child(2) {
  padding: 6px;
}
.navbar .myBlogTitle {
  width: 30%;
  color: #f1356d;
  font-size: 24px;
  font-weight: bold;
}
.navbar a:hover {
  color: #f1356d;
}
.navbar a.newBlogButton {
    color: white;
    background-color: #f1356d;
    border-radius: 8px;
} 
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}
/* blog previews / list */
.blog-preview {
  max-width: 550px;
  background-color: #edbdcc;
  border-radius: 10px;
  padding: 10px 16px;
  margin: 20px 0;
  transition: margin-left 0.1s ease-in;
}
.blog-preview:hover {
  box-shadow: 1px 5px 8px rgba(0,0,0,0.1);
  margin-left: 10px;
  transition: margin-left 0.1s ease-in;
  cursor: pointer;
}
.blog-preview h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
}
.blog-preview a {
  text-decoration: none;
}
.deleteBlogDiv {
  width: 100%;
  display: flex;
  justify-content: center;
}
.deleteBlog {
  color: white;
  font-size: 16px;
  background-color: #f1356d;
  border-radius: 8px;
  padding: 5px 10px;
  border: 0;
}
.deleteBlog:hover {
  color: white;
  background-color: #ff0000;
  box-shadow: 1px 5px 8px rgba(0,0,0,0.1);
}
/* blog details page */
.blog-details h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 10px;
}
.blog-details-body {
  margin: 20px 0;
  padding: 10px 16px;
  box-shadow: 1px 10px 16px rgba(0,0,0,0.1);
  background-color: #edbdcc;
  border-radius: 10px;
}

/* create new blog form */
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.form {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}
.create input, .create textarea, .create select {
  max-width: 100%;
  min-width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/* not found */
.not-found-content {
  margin-bottom: 50px;
}